{% extends "base.html" %}

{% block title %}
things
{% endblock %}

{% block content %}
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/cover-things.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">042 : things</h1>
          </div>
          <div class="text-center">
          <p> </p>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 section-container-spacer">

      </div>
    </div>
  </div>
</div>
{% endblock %}