{% extends "base.html" %}

{% block title %}
About Me
{% endblock %}

{% block header_secondary %}
{% endblock %}

{% block content %}
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">03 : About me</h1>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h3>Curiosity in bloodstream</h3>
                <p>I'm currently learning an art of code-writing, so that I could build the product that I believe in with my own hands.
                      Constantly searching for new challenges, experiences and work-arounds. Seeking for an
                      occupation that would help me to learn at least one new thing a day.</p>
                <h3>The other side </h3>
                <p>Previously I have been working for biggest E-commerce companies in Baltic states, most recently - leading
                      Pricing department. Beside sales&growth related tasks, it included the business side of software development -
                      features, rules&logic, testing, analysis. It made me desire to learn <b>how</b> to build it. </p>
                <h3>Now what?</h3>
                <p>Since I started coding, I explored several fields. At first I dove deep into Python language,
                  trying out it's various fields, building small projects on Flask, Pandas, Scikit-learn.
                  I am interested in AI and ML a lot! Then I found Mobile Development and Kotlin, which I believe has
                  great potential and is improving at very impressive pace! As shallow as it might sound -
                  here I truly admire how close to me the project I am working on is and every change in code
                  I make I can see right in my palm. Currently learning MVVM architecture, Room, Retrofit, Coroutines,
                  LiveData according latest Google Codelabs.</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img src="./static/assets/images/portrait.jpg" class="img-responsive" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}