{% extends "base.html" %}

{% block title %}
FoodMood
{% endblock %}

{% block content %}
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/cover-foodmood.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : FoodMood</h1>
          </div>
          <p>How often you catch yourself thinking what to have for dinner or lunch, but end up either eating "all-whats-in-the-fridge"
          or grabbing kebab on the way home? How often it is because you cant decide right away and spend too much time choosing.
              Let me introduce the FoodMood solution - random meal generator, based on meal time and preferences. All you need to
              do is adding your fav recipes (as for recipe book) and in case you are confused, an app will give you a suggestion
              that you will love</p>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
          <div class="text-center">
            <h3>Grab cool food idea!</h3>
            <form action="foodmood" method="post" class="reveal-content">
               <div class="form-group">
                <select class="form-control" name="selectmeal" title="selectmeal" required>
                  <option value="" disabled selected hidden>--select--</option>
                  <option value="breakfast">breakfast</option>
                  <option value="brunch">brunch</option>
                  <option value="lunch">lunch</option>
                  <option value="dinner">dinner</option>
                </select>
               </div>
                <input type="radio" id="comfortfood" name="selections" value="comfortfood"required>
                <label for="comfortfood">comfort food, please</label><br>
                <input type="radio" id="fish" name="selections" value="fish">
                <label for="fish">fish craving incoming</label><br>
                <input type="radio" id="none" name="selections" value="none">
                <label for="none">go random, mr robot</label><br>
                <button type="submit" class="btn btn-default btn-lg">generate</button>
            </form>
          </div>
          <div class="text-center">
            <h3>Found divine recipe? Contribute!</h3>
            <form action="/foodmood_add_suggestion.html">
              <button type="submit" class="btn btn-default btn-lg">want to add</button>
            </form>
          </div>
          <div class="text-center">
            <h3>Android App coming soon</h3>
            <form action="/foodmood.html">
                <button type="submit" class="btn btn-default btn-lg"><a href="https://github.com/vaidadry/foodMood" target="_blank">download</a></button>
            </form>
          </div>
      </div>
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/001-food1.jpg" class="img-responsive" alt="">
<!--            <p>some title</p>-->
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/001-food1.jpg" class="img-responsive" alt="">
<!--            <p>some title</p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}