{% extends "base.html" %}

{% block title %}
Works
{% endblock %}

{% block header_secondary %}
{% endblock %}

{% block content %}
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">05 : things & stuff</h1>
          </div>
          <p>Lets call this place a Blog. Or rather a place to share things I believe are superawesome </p>
          <h3>
            "In the morning it was morning and I was still alive. Maybe I'll write a novel, I thought. And then I did.
            <small class="pull-right"> -Charles Bukowski, Post Office</small>
          </h3>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/they_can_talk.jpg" class="img-responsive" alt="">
<!--            <p>Menphis skyline</p>-->
          </div>
          <div class="col-xs-12 col-md-6">
<!--            <img src="./static/assets/images/.jpg" class="img-responsive" alt="">-->
<!--            <p>Menphis skyline</p>-->
          </div>
        </div>
      </div>
      <div class="col-xs-12">
<!--        <img src="./static/assets/images/pandora.jpg" class="img-responsive" alt="">-->
      </div>
    </div>
  </div>
</div>
{% endblock %}