{% extends "base.html" %}

{% block title %}
Works
{% endblock %}

{% block header_secondary %}
{% endblock %}

{% block content %}
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">05 : things & stuff</h1>
          </div>
          <p>some cool text some cool text some cool text some cool text some cool text some cool text
          some cool text some cool text some cool text</p>
          <blockquote>
            <p>"In the morning it was morning and I was still alive. Maybe I'll write a novel, I thought. And then I did.</p>
            <small class="pull-right">Charles Bukowski, Post Office</small>
          </blockquote>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/work001-02.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/work001-03.jpg" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <img src="./static/assets/images/work001-04.jpg" class="img-responsive" alt="">
      </div>
    </div>
  </div>
</div>
{% endblock %}