{% extends "base.html" %}
{% block title %}
SafePass
{% endblock %}

{% block content %}
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/cover-safepass2.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">002 : SafePass </h1>
          </div>
          <p> A hashed users password is checked for registered hacked cases via haveibeenpwned.com API,
            giving back feedback.</p><br>
          <form action="passchecked" method="post" class="reveal-content">
            {{ form.hidden_tag() }}
            <div class="form-group">{{ form.password }}</div>
            <div class="form-group">{{ form.human }} {{form.human.label}}</div>
            <button type="submit" class="btn btn-default btn-lg">check</button>
          </form>
        </div>
      </div>
    </div>
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
<!--            <img src="./static/assets/images/works-safepass.jpg" class="img-responsive" alt="">-->
            <p></p>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}