{% extends "base.html" %}

{% block title %}
SafePass
{% endblock %}

{% block content %}
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/cover-safepass2.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">002 : SafePass </h1>
          </div>
          <p> Cool pitch on SafePass app Cool pitch on SafePass app Cool pitch on SafePass app Cool pitch on SafePass app
            Cool pitch on foodMood app Cool pitch on SafePass app Cool pitch on SafePass app
            Cool pitch on SafePass app Cool pitch on SafePass app</p> <br>
          <div class="alert alert-success" role="alert">{{ output }}</div>
          <form action="/passwordchecker.html">
           <button type="submit" class="btn btn-default btn-lg">try again</button>
          </form>
        </div>
      </div>
    </div>
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/works-safepass.jpg" class="img-responsive" alt="">
            <p>some title</p>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}