{% extends "base.html" %}

{% block title %}
Contact me
{% endblock %}

{% block header_secondary %}
{% endblock %}

{% block content %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">04 : Contact me</h1>
            <p>Thanks for a message, Stranger! <br>
                I'm happy already!<br></p>
            <iframe src="https://giphy.com/embed/2Wv8ckKSPblFC" width="360" height="200" frameBorder="0" class="giphy-embed"></iframe>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}